<div class="content-in-footer mat-card mat-focus-indicator create-token-container mx-auto">
  <div class="container">
    <div class="row row-footer">
      <div class="col-4">
        <p>Midas.</p>
        <p>© {{year}} All rights reserved.</p>
      </div>
      <div class="col-4">
        <p>Integrates</p>
        <img class="chainlink-image" src="assets/chainlink.jpg" alt="Chainlink partnership logo" />
      </div>
      <div class="col-4">
        <p>Network supported</p>
        <div>
          <img src="assets/bsclogo.png" alt="BSC" />
          <img src="assets/avalanche.png" alt="AVALANCHE" />
          <img src="assets/polygon.png" alt="POLYGON" />
          <img src="assets/fantom.png" alt="Fantom" />
        </div>
      </div>
    </div>
  </div>
</div>