<div class="dialog-header">
  <h4 class="header-title">Non Compatible Browser</h4>
</div>
<div class="dialog-content">
  <div style="height: 50px"></div>
  <p>
    Non-Blockchain compatible browser detected. Please install Metamask or any eth wallet to use this service. <br /> <a href="https://metamask.io/download" target="_blank"  rel="noreferrer" >Download here.</a>
  </p>
  <div style="height: 50px"></div>
</div>

<mat-divider class="dialog-divider"></mat-divider>

<div class="dialog-footer">
  <div style="height: 15px"></div>
  <button style="color: white" mat-button (click)="onNoClick()">Close</button>
  <div style="height: 15px"></div>
</div>




